body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
    display: flex;
    align-items: center;
    background-color: #01222a;
    padding: 30px 25px;
    height: 90px;
    flex-direction: row;
    row-gap: 20;
}

nav>h1,
nav>h3 {
    margin: 0;
}

nav>h3 {
    margin-right: auto;
    color: #61dafb;
    font-weight: 700;
}

nav>h1 {
    margin-right: auto;
    color: #deebf8;
    font-weight: 600;
}